<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>About us</title>
  <link rel="shortcut icon" href="./img/logo 4.png" type="image">
  
</head>

<body>
  <%- include('navbar') %>


  <div class="container">
    <div class="row">
      <h1 class="col-11 text-center p-4">About us</h1>
    </div>
    <div class="col-12">
      <div id="line"></div>
    </div>

    <div class="row">
      <p class="col-12 text-center">
        Our organization is an NPO, we serve young people within the Cape Flats underserved communities between 18 and
        35 to become employable in the technology industry.
        They are provided with various services and opportunities (coding skills A+, N+, design thinking, soft
        skillsdevelopment, job readiness and Agile, Goal Planning ) <br> <br>
        CODETELLIGENCE collaborates closely with NPOs and the privatesector to develop talented ICT Interns, install
        equipment and launch ICT Training Centers. Theseare located in underdeveloped regions in a cost effective, yet
        sustainable model.
        <br> <br> Who We Are: CodeTelligence is a Non – Profit Organization, which is passionate about long-term
        solutions through innovative educational programs targeting youth and children.
      </p>
    </div>
    <div class="row">
      <h2 class="text-center"> Our Team</h2>
    </div>
  

<!--     ------------------------------------------------------------------------------------------------------------------     -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" >
          <img src="./img/ausi.jpg" style="height: 420px;" class="card-img-top" alt="Ausi Keo"/>
          <div class="card-body">
            <h5 class="card-title">CEO & Founder</h5>
            <p class="card-text">
              Botlholo Keoikantse Tsholofelo
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card " >
          <img src="./img/mimi.jpg" style="height: 420px;" class="card-img-top" alt="MImi"/>
          <div class="card-body">
            <h5 class="card-title">Facilitator & Educator</h5>
            <p class="card-text">
              Mihlali Dzingwa
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" >
          <img src="./img/mahle.jpg" style="height: 420px;" class="card-img-top" alt="Mahle "/>
          <div class="card-body">
            <h5 class="card-title">Bridging Program Facilitator</h5>
            <p class="card-text">Amahle Ndabambi.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" >
          <img src="./img/lukha.jpg" style="height: 420px;" class="card-img-top" alt=""/>
          <div class="card-body">
            <h5 class="card-title">Design Intern</h5>
            <p class="card-text">
              Lukhanyo Williams
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" >
          <img src="./img/mzwa.jpg" style="height: 420px;" class="card-img-top" alt=""/>
          <div class="card-body">
            <h5 class="card-title"> High School Program Facillitator</h5>
            <p class="card-text">
              Mzwamadoda Shawn Louw
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" >
          <img src="./img/noli.jpg" style="height: 420px;" class="card-img-top" alt=""/>
          <div class="card-body">
            <h5 class="card-title"> Receptionist </h5>
            <p class="card-text">
              Nolitha Dlokweni
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" >
          <img src="./img/alex.jpg" style="height: 420px;" class="card-img-top" alt=""/>
          <div class="card-body">
            <h5 class="card-title"> Office Assistant</h5>
            <p class="card-text">
              Alex Matanzima
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" >
          <img src="./img/sianda.jpg" style="height: 420px;" class="card-img-top" alt=""/>
          <div class="card-body">
            <h5 class="card-title">Course Instructor</h5>
            <p class="card-text">
              Keitumetse Sianda
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" >
          <img src="./img/sisanda.jpg" style="height: 420px;" class="card-img-top" alt="Sisanda"/>
          <div class="card-body">
            <h5 class="card-title">  </h5>
            <p class="card-text">
              Sisanda 
            </p>

          </div>
        </div>
      </div>
      
    </div>

  </div>

  <%- include('footer') %>

</body>

</html>