<!DOCTYPE html>
<html lang="en">
<head>
      </head>
<body>
  <%- include('navbar') %>

      <h2 style="position: relative; left: 400px;">Inside CodeTelligence: And beyond the code</h2>
      <p style="position: relative; left: 440px;">subscribe to learn about our news and updates and the latest technology</p>
        <form>
          <input style=" border-radius: 30px; width: 500px; height: 30px; position: relative;left: 450px;" type="email" placeholder="Enter email">
          <button style="background-color: #D4A81E; width: 80px; height: 30px; position: relative; top: 8px;">Subscribe</button>
        </form>
      <div class="col-4">
        <img width="400px"   src="/img/imgs/WhatsApp Image 2023-04-13 at 14.04 1.png"  class="card-img-top" alt="...">

      </div>
        
        
      <div class="card" style="width: 18rem; border: 0px; position: relative; left: 800px; top: -325px;">
        <img  src="/img/imgs/WhatsApp Image 2023-04-13 at 14.04 1.png" width="100px" class="card-img-top" alt="...">
        <div class="card-body">
          
          <p style="position: relative; left: 300px; top: -220px; font-size: 10px;" class="card-text">A Visit from our American friends, we had a vist from
            Dartanyon Williams the founder of DuckPond Technologies, Inc, his wife Jelice Williams and also Barry Berman the Co-Founder & Executive Director of infinity Culinary Training Chefs(ICTCHEFS) and our local friends
             </p>
         
        </div>
      </div>
      <div class="card" style="width: 18rem; border: 0px; position: relative; left: 800px; top: -425px;">
        <img src="/img/imgs/WhatsApp Image 2023-04-13 at 14.04 1.png" class="card-img-top" alt="...">
        <div class="card-body">
          
          <p style="position: relative; left: 300px; top: -220px; font-size: 10px;" class="card-text">A Visit from our American friends, we had a vist from
            Dartanyon Williams the founder of DuckPond Technologies, Inc, his wife Jelice Williams and also Barry Berman the Co-Founder & Executive Director of infinity Culinary Training Chefs(ICTCHEFS) and our local friends
             </p>
         
        </div>
      </div>
      <div class="card" style="width: 18rem; border: 0px; position: relative; left: 800px; top: -525px;">
        <img src="/img/imgs/WhatsApp Image 2023-04-13 at 14.04 1.png" class="card-img-top" alt="...">
        <div class="card-body">
          
          <p style="position: relative; left: 300px; top: -220px; font-size: 10px;" class="card-text">A Visit from our American friends, we had a vist from
            Dartanyon Williams the founder of DuckPond Technologies, Inc, his wife Jelice Williams and also Barry Berman the Co-Founder & Executive Director of infinity Culinary Training Chefs(ICTCHEFS) and our local friends
             </p>
         
        </div>
      </div>
     
    
</body>
</html>