<!DOCTYPE html>
<html lang="en">

<head>
  <title>Courses</title>
  <link rel="shortcut icon" href="./img/logo 4.png" type="image">
  


</head>

<body>
  <%- include('navbar') %>


  <div class="container">
    <div class="row">
      <h1 class="col-11 text-center p-4">Our Courses</h1>
    </div>
    <div class="col-12">
      <div id="line"></div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/webdev 3.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class=" names">Web Development</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/digital marketing 2.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Programming</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/networking 2.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Networking</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/security 2.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Security</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/20-Mobile-Development-Tools 2.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Mobile Development</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/graphic design 2.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Graphic Design</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/data management.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Data Science</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/IT Support 2.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Technical Support</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="./img/courses/image 4.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <div class="  names">Cyber Security</div>

          </div>
        </div>
      </div>
    </div>




  </div>


  <script src="/main.js"></script>
  <%- include('footer') %>

</body>

</html>