<!DOCTYPE html>
<html>

<head>
  <title> <%= title %> </title>
  <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="./img/logo 4.png" type="image">
</head>

<body>
  <%- include('navbar') %>

  <%- include('homecarousel') %>

  <!-- About Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="section-title">
        <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Who are we?</h4>

      </div>
      <div class="row">
        <div class="col-lg-4 py-0 py-lg-5">
          <h1 style="position: relative; top: -20px;" class="mb-3">Our Mission</h1>
          <h5 class="mb-3">Aimed at equipping youth from disadvantaged communities with<br> digital skills, and brigding the technolohy gap for improvished communities as they are most impacted by lack of resources</p>

        </div>
        <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100" src="/img/vuyiseka.jpg" style=" border: solid 5px #D4A81E; object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-4 py-0 py-lg-5">
          <h1 style="position: relative; top: -20px;" class="mb-3">Our Vision</h1>
          <p>Bridging the technology gap for impoverished communities as they are most impacted by lack of resources</p>
          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Resources</h5>
          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Skills</h5>
          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Placement</h5>

        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


  <!-- Service Start -->
  <div sty class="container-fluid pt-5">
    <div class="container">
      <div class="section-title">
        <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Impact</h4>

      </div>
      <div style=" width: 100%x; position: relative;" class="row">
        <div class="col-lg-6 mb-5">
          <div class="row align-items-center">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-7">
              <h4 style="color: #D4A81E; font-size: 50px;" class="">2.4%</h4>
              <p class="m-0">Pursued in IT</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="row align-items-center">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-7">
              <h4 style="color: #D4A81E; font-size: 50px;">33.3%</h4>
              <p class="m-0">Off Program</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="row align-items-center">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-7">
              <h4 style="  color: #D4A81E; font-size: 50px;">38.1%</h4>
              <p class="m-0">Placement</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="row align-items-center">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-7">
              <h4 style="color: #D4A81E; font-size: 50px;">16.7%</h4>
              <p class="m-0">On-Hold</p>
            </div>
            <div class="col-lg-6 mb-5">


            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- Service End -->


    <!-- Offer Start -->
    <div style="background-color: #0B1C2C;" class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
      <div class="container py-5">

        <h4 style=" position: relative; top: -60px; " class="text-white font-weight-normal mb-4 pb-3">What we offer</h4>
        <div style=" width: 100%; position: relative; top: -30px;" class="container">
          <div class="row">
            <div class="col">
              <img width="130px" src="img/mdi_web-sync.png">
              <p style="color: white;">web development</p>
            </div>
            <div class="col">
              <img width="100px" src="img/Vector.png">
              <p style="color: white;">Security</p>
            </div>
            <div class="col">
              <img width="120px" src="img/solar_programming-linear.png">
              <p style="color: white;">Programming</p>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  <!-- Offer End -->


  <!-- Menu Start -->
  <div class="container-fluid pt-5">
    <div style="position: relative;  top: -190px;" class="container">
      <div class="section-title">
        <h4 class="text-primary text-uppercase" style="position: relative; letter-spacing: 5px;">Our Partners</h4>

      </div>
      <div class="container">
        <div class="row ">
          <div class="col"><img style="position: relative;" width="150px" src="/partners/1024px-Amazon_Web_Services_Logo.svg.png"></div>
          <div class="col"><img width="200px" src="/partners/10629639_942768582415467_4257724787692377966_n.jpg"></div>
          <div class="col"><img width="200px" src="/partners/1555089385336.jpg"></div>
          <div class="col"><img width="180px" src="/partners/306080807_577356487515204_4505193233472352563_n-removebg-preview-removebg-preview.png"></div>
        </div>
      </div>
      <div style="position: relative;" class="container">
        <div class="row">
          <div class="col"><img width="120px" style="padding-bottom: 50px;" src="/partners/Beyond-hundred logo.png"></div>
          <div class="col"><img style="position: relative; padding-bottom: 50px; " width="110px" src="/partners/comptia-authorized-partner.png"></div>
          <div class="col"><img style="position: relative; top: 15px;padding-bottom: 50px;" width="200px" src="/partners/logo1.png"></div>
          <div class="col"><img style="position: relative; top: 15px; padding-bottom: 50px;" width="200px" src="/partners/qcto-300x216-removebg-preview.png"></div>
        </div>
        <div class="row">
          <div class="col"><img width="120px" style="padding-bottom: 50px;" src="partners/ZAM.png"></div>
          <div class="col"><img style="position: relative; top: 20px;" width="190px" src="partners/zikhona-ogo.png"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- Menu End -->



  <%- include('footer') %>

  <!-- Footer End -->


  <!-- Back to Top -->
  <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/tempusdominus/js/moment.min.js"></script>
  <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Contact Javascript File -->
  <script src="mail/jqBootstrapValidation.min.js"></script>
  <script src="mail/contact.js"></script>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
></script>
  <!-- Template Javascript -->
  <script src="js/main.js"></script>

  
</body>

</html>