<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img6 1 (1).png" class="d-block w-100" alt="Comptia"/>
      </div>
      <div class="carousel-item">
        <img src="/img/WhatsApp Image 2023-04-13 at 14.12.40.jpg" class="d-block w-100" alt="Code_Telligence"/>
      </div>
      <div class="carousel-item">
        <img src="/img/code 3.jpg" class="d-block w-100" alt="Candidates"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>