<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Add your CSS and other head elements here -->
</head>
<body>
  <%- include('partials/navbar') %>

  <!-- Add the content of the specific page here -->
  <%- body %>

  <!-- Add your JavaScript and other scripts here -->
  
</body>
</html>
