<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
  rel="stylesheet"
/>






<nav class="navbar  navbar-expand-lg navbar-light card shadow p-3 mb-5" style="width: 100%;">
  <div class="container-fluid ">
    <a href="index.html"><img src="./img/logo 4.png" width="170px" alt=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="background-color: white; z-index: 2; text-align: center;" class=" collapse navbar-collapse"
      id="navbarSupportedContent">
      <ul class="   navbar-nav me-auto mb-2 mb-lg-0" style="position: relative; left: 5%;">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/about">About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/programs">Programs</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Cohorts
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/cohort1-2">Cohort1-2</a>
            </li>
            <li>
              <a class="dropdown-item" href="/cohort3-4">Cohort3-4</a>
            </li>
            <li>
              <a class="dropdown-item" href="/cohort5">Cohort 5</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/branches">Branches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blogs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donate">Donate</a>
        </li>
      </ul>

      &nbsp; &nbsp;
      <a href="/enroll">
        <div id="enrol" class="start-btn btn">
        Enrol
      </div></a>

    </div>
  </div>
</nav>

