<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
    <link rel="shortcut icon" href="./img/logo 4.png" type="image">


    

</head>

<body>
   
    <%- include('navbar') %>
    

    <div class="container">
        <div class="row">
            <h1 class="col-11 text-center p-4">Programs</h1>
        </div>
        <div class="col-12">
            <div id="line"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <img src="./img/programs/WhatsApp Image 2023-04-04 at 13.15.19 1.png" style="height: 180px;"
                        alt="...">
                    <div class="card-body text-center">
                        <!-- <a href="#" class=" btn btn-primary">Web Development</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <h2>Kids in ICT</h2>
                <p>Computer science curriculum tailored to young children that makes coding easy and fun to learn.
                    This program caters to 3 age groups:</p>
                <ul>
                    <li>6 years to 9 years</li>
                    <li>10 years to 14</li>
                    <li>15 years to 17 years</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <img src="./img/programs/image 2.png" style="height: 180px;" alt="...">
                    <div class="card-body text-center">
                        <!-- <a href="#" class=" btn btn-primary">Web Development</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <h2>High Schools Program</h2>
                <p>This program have partnered with Pascap Trust
                    They run various programs supporting the education & wellbeing of pupils in the Western Cape
                    Province.
                    Together with Younglings Africa, we will be offering free ICT training to pupils (Grade 9 to Grade
                    11) they're serving within the Cape Flats communities as of April 2023.
                    The program will be facilitated by one of our amazingly ambitious candidates, Mzwamadoda Shaun Louw,
                    under Mihlali Dzingwa supervision.
                    We will jointly host CapeFlats High Schools Hackathon twice every year (June and November) and have
                    all the schools in our database compete for a prize.</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <img src="./img/programs/image 3.png" style="height: 180px;" alt="...">
                    <div class="card-body text-center">
                        <!-- <a href="#" class=" btn btn-primary">Web Development</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <h2>Adults and Non Matriculants</h2>
                <p>This program provides candidates from false bay collage who have completed a NCV in ICT . We train
                    them with coding skills such as HTML5 ,CSS, Javascript , Bootstrap 5 ,GIT ,GITHUB and Netlify . We
                    give them practical experience to work around IT projects and build them Resumes.</p>
            </div>
        </div>


    </div>


    <script src="/main.js"></script>
    <%- include('footer') %>

</body>

</html>